.app-header {
    background-color: black;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.header-title {
    color: white;

}

.sub-title {
    color: white;

}

.nav-list {
    display: inline-block;
}

.nav-item {
    margin-left: 20px;
    list-style: none;
    float: left;
    color: white;
}